/* Imports */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

/* Basic Formatting */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #131313;
}

/* Header and Logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #131313;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 30px;

}

#navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: rgb(35,22,15, .97);
    z-index: 1; /* Move nav bar to front of screen */
    border-bottom: 1px solid #edc795;
}

/* Navigation and Links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: #edc795;
}

#menu, #logo {
    line-height: 75px; /* set the Menu and Logo to be vertically aligned */
    color: #f7ecdd;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #edc795;
}

.active {
    border-bottom: 1px solid #edc795;
}

/* Landing Section */

#landing-cover-text {
    font-size: 150%;
    font-family: 'Raleway', sans-serif;

    width: 600px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(237,199,149, .8);

    bottom: 250px;
    left: 30px;

    position: absolute;
}

#landing-cover-text h1, h2 {
    padding-left: 20px;
}

#landing-cover-text h1 {
    padding-bottom: 30px;
}

#landing-cover-text h2 {
    font-size: 98%;
}

#right-landing-outer {
    height: calc(100vh - 75px); /* Set the landing section to be the height of the screen by substracting menu height from view height */
    width: 100%;
    overflow: hidden;
    padding-top: 75px;
}

#right-landing-im {
    background: url('../images/woman-writing-fresco.jpg') no-repeat center center;
    height: 900px;
    width: 70%;
    float: right;
}

/* about us section */

#about-us {
    height: calc(100vh - 75px); /* Set the about us section to be the height of the screen by substracting menu height from view height */
    background-color: rgb(35,22,15, .98);
}

#about-us h1 {
    padding-top: 75px;
    color: #e9d5bc;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#about-left-container {
    padding-top: 75px;
    width: 50%;
    float: left;
}

#about-right-container {
    padding-top: 75px;
    width: 50%;
    float: right;
}

#about-right-container p {
    padding-bottom: 30px;
    color: #e9d5bc;
    padding-right: 75px;
}

/* About Us Section: Create Image and Image Circle Border */

#about-circle-container {
    width: 450px; /* Equal height and width together with the border create the circle around the image on the about us page  */
    height: 450px;
    padding: 10px;
    border-style: solid;
    border-color: #edc795;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#about-circle-bg {
    background: url('../images/reading-group.jpg') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html, in order to crop to a circle */
    height: 100%;
    border-radius: 50%;
}

/* Teaching Section */

#teaching{
    height: calc(100vh - 75px); /* Set the teaching section to be the height of the screen by substracting menu height from view height */
    background-color: #e9d5bc;
}

#teaching h1 {
    text-align: center;
    padding-top: 75px;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}

#teaching > h2 {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    font-size: .95em;
    font-style: italic;
}

#teaching-locations {
    background-color: #131313;
    text-align: center;
    margin: 30px 150px;
    width: auto;
}

/* Teaching Section: Create Teaching Location Blocks */

#teaching-locations div {
    color: #e9d5bc;
    background-color: rgb(35,22,15, .97);
    width: 25%; /* Make 4 columns of blocks/divs */
    height: 30vh;
    float: left;
    padding: 75px 10px;
    text-align: center;
    line-height: 1.5;
    display: inline-block; /* allows for sizing height and width */
    vertical-align: middle;
    border: 2px solid #e9d5bc;
    border-radius: 1%;
    box-sizing: border-box; 
}

/* Teaching Section: Basic Styling of Text in Teaching Blocks */

#teaching-locations h2 {
    color: #e9d5bc;
    font-size: .95em;
}

#teaching-locations h3 {
    color: #e9d5bc;
    font-size: .95em;
}

#teaching-locations hr {
    border-top: 1px solid #e9d5bc;
    width: 80%;
    margin: 10px auto;
}

/* teachers section */

#teachers {
    height: calc(100vh - 75px); /* Set the teachers section to be the height of the screen by substracting menu height from view height */
}

#teachers h1 {
    color: rgb(35,22,15, .98);
    padding-top: 75px;
    padding-bottom: 20px;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#teachers-profiles {
    margin: 30px 30px;
}

/* teachers section: create profile divs */

#teachers-profiles > div {
    color: rgb(35,22,15, .98);
    width: 50%;
    height: 175px;
    float: left;
    box-sizing: border-box;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/* Teachers Section: Create circle crop around profile images  */

.teacher-image-circle-container {
    width: 100px;
    height: 100px;
    padding: 10px;
    float: left;
    margin: 0 auto;
}

.profile-text {
    margin: 20px;

}

.profile-text h2, p {
    text-align: left;
    font-size: .8em;
}

/* Teachers Section: Set Profile Images */

#john-image-bg {
    background: url('../images/john.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#nigel-image-bg {
    background: url('../images/nigel.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#jennifer-image-bg {
    background: url('../images/jennifer.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#kyle-image-bg {
    background: url('../images/kyle.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#stephanie-image-bg {
    background: url('../images/stephanie.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#lindsay-image-bg {
    background: url('../images/lindsay.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Events Section */

#events {
    height: calc(100vh - 75px); /* Set the events section to be the height of the screen by substracting menu height from view height */
    background-color: rgb(35,22,15, .98);
}

#events h1 {
    text-align: center;
    color: #e9d5bc;
    padding-top: 75px;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}

#events > h2 {
    text-align: center;
    color: #e9d5bc;
    text-transform: capitalize;
    padding-top: 20px;
    font-size: .95em;
    font-style: italic;
}

/* Events Section: Create and Style Event Blocks */

#events-table {
    background-color: #e9d5bc;
    text-align: center;
    margin: 30px 150px;
    width: auto;
}

#events-table div {
    color: rgb(35,22,15, .98);
    background-color: #e9d5bc;
    width: 33%; /* set the events table to have 3 columns */
    height: 30vh;
    float: left;
    padding: 75px 10px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid rgb(35,22,15, .98); /* create space between event blocks */
    border-radius: 1%;
    box-sizing: border-box;
}

/* Events Section: Basic Styling of Text in Event Blocks */

#events-table h2 {
    color: rgb(35,22,15, .98);
    font-size: .95em;
    font-weight: bold;
}

#events-table h3 {
    color: rgb(35,22,15, .98);
    font-size: .95em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#events-table h4 {
    color: rgb(35,22,15, .98);
    font-size: .93em;
    font-style: italic;
}

#events-table hr {
    border-top: 1px solid rgb(35,22,15, .98);
    width: 80%;
    margin: 10px auto;
}

/* Signup Section */

#signup {
    height: calc(100vh - 75px); /* Set the events section to be the height of the screen by substracting menu height from view height */
    background-color: #e9d5bc; /* backup color in case the hero image does not load */
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/isaiah-scroll.jpg");
    height: calc(100vh - 75px);
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#signup-content {
    /* align text and content to center */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* style background of form */
    background-color: rgba(237,199,149, .9);
    position: absolute;
    width: 800px;
    height: 600px;
}

/* Signup Section: Basic h1 and h2 styling for section headings */

#signup-content h1 {
    text-align: center;
    color: rgb(35,22,15, .98);
    padding-top: 50px;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}

#signup-content > h2 {
    text-align: center;
    color: rgb(35,22,15, .98);
    text-transform: capitalize;
    padding-top: 20px;
    font-size: .95em;
    font-style: italic;
}

/* Signup Section: Form Styling */

#signup-form {
    text-align: left;
    margin: 30px 50px 0 50px;
}

#signup-form h3 {
    text-transform: uppercase;
    margin: 20px 0;
}

/* Signup Section: Form - Language Interest Styling */

#language-interest-checkbox li {
    list-style-type: none;
    float: left;
    display: inline-block;
    width: 25%; /* Make 4 columns */
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #about-circle-container {
        width: 400px;
        height: 400px;
        padding: 10px;
        border-style: solid;
        border-color: #edc795;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto;
    }

    #about-right-container p {
        font-size: .9em;
    }



}