@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #131313;
}

/* Header and Logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #131313;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 30px;

}

#navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: rgb(35,22,15, .97);
    z-index: 1;
    border-bottom: 1px solid #edc795;
}

/* Navigation and Links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: #edc795;
}

#menu, #logo {
    line-height: 75px;
    color: #f7ecdd;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #edc795;
}

.active {
    border-bottom: 1px solid #edc795;
}

/* Landing Section */

#landing-cover-text {
    font-size: 150%;
    font-family: 'Raleway', sans-serif;

    width: 600px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(226,174,118, .7);

    bottom: 250px;
    left: 30px;

    position: absolute;
}

#landing-cover-text h1, h2 {
    padding-left: 20px;
}

#landing-cover-text h1 {
    padding-bottom: 30px;
}

#landing-cover-text h2 {
    font-size: 98%;
}

#right-landing-outer {
    height: calc(100vh - 75px);
    width: 100%;
    overflow: hidden;
    padding-top: 75px;
}

#right-landing-im {
    background: url('../images/woman-writing-fresco.jpg') no-repeat center center;
    height: 900px;
    width: 70%;
    float: right;
}

/* about us section */

#about-us {
    height: calc(100vh - 75px);
    background-color: rgb(35,22,15, .98);
}

#about-us h1 {
    padding-top: 75px;
    color: #e9d5bc;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#about-left-container {
    padding-top: 75px;
    width: 50%;
    float: left;
}

#about-right-container {
    padding-top: 75px;
    width: 50%;
    float: right;
}

#about-right-container p {
    padding-bottom: 30px;
    color: #e9d5bc;
    padding-right: 75px;
}

#about-circle-container {
    width: 450px;
    height: 450px;
    padding: 10px;
    border-style: solid;
    border-color: #edc795;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#about-circle-bg {
    background: url('../images/reading-group.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Teaching Section */

#teaching{
    height: calc(100vh - 75px);
    background-color: #e9d5bc;
}

#teaching h1, h2 {
    text-align: center;
}

#teaching h1 {
    padding-top: 75px;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}

#teaching > h2 {
    text-transform: capitalize;
    padding-top: 20px;
    font-size: .95em;
    font-style: italic;
}

#teaching-locations {
    background-color: #131313;
    text-align: center;
    margin: 30px 150px;
    width: auto;
}

#teaching-locations div {
    color: #e9d5bc;;
    background-color: rgb(35,22,15, .97);
    width: 25%;
    height: 30vh;
    float: left;
    padding: 75px 10px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #e9d5bc;
    border-radius: 1%;
    box-sizing: border-box;
}

#teaching-locations h2 {
    color: #e9d5bc;
    font-size: .95em;
}

#teaching-locations h3 {
    color: #e9d5bc;
    font-size: .95em;
}

#teaching-locations hr {
    border-top: 1px solid #e9d5bc;
    width: 80%;
    margin: 10px auto;
}

#teaching-locations body {
    
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #about-circle-container {
        width: 400px;
        height: 400px;
        padding: 10px;
        border-style: solid;
        border-color: #edc795;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto;
    }

    #about-right-container p {
        font-size: .9em;
    }



}