@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #131313;
}

/* Header and Logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #131313;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 30px;

}

#navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: white;
    z-index: 1;
}

/* Navigation and Links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #131313;
}

.active {
    border-bottom: 1px solid #131313;
}

/* Landing Section */

#landing-cover-text {
    font-size: 150%;
    font-family: 'Raleway', sans-serif;

    width: 600px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(226,174,118, .7);

    bottom: 250px;
    left: 30px;

    position: absolute;
}

#landing-cover-text h1, h2 {
    padding-left: 20px;
}

#landing-cover-text h1 {
    padding-bottom: 30px;
}

#landing-cover-text h2 {
    font-size: 98%;
}

#right-landing-outer {
    height: calc(100vh - 75px);
    width: 100%;
    overflow: hidden;
    padding-top: 75px;
}

#right-landing-im {
    background: url('../images/woman-writing-fresco.jpg') no-repeat center center;
    height: 900px;
    width: 70%;
    float: right;
}

/* about us section */

#about-us {
    height: calc(100vh - 75px);
    background-color: rgb(35,22,15, .98);
}

#about-left-container {
    padding-top: 150px;
    width: 50%;
    float: left;
}

#about-right-container {
    padding-top: 150px;
    width: 50%;
    float: right;
}

#about-right-container h1, p {
    padding-bottom: 30px;
    color: #f3dbbb;
}

#about-right-container p {
    padding-right: 150px;
}

#about-circle-container {
    width: 575px;
    height: 575px;
    padding: 10px;
    border-style: solid;
    border-color: #edc795;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#about-circle-bg {
    background: url('../images/reading-group.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}